<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>

    <!--Footer Fragment-->

    <div th:fragment="footer" class="container my-5">
        <div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-bottom">
            <div class="container">
                <p class="navbar-text pull-left">© 2022 Spring Boot Assessment by ee-tee </p>
                <a href="https://github.com/ee-tee/SpringAssessment" class="navbar-btn btn-danger btn pull-right">GitHub</a>
            </div>
        </div>
    </div>

</body>
</html>
